@import '../../../../../assets/css/mobile/variables';

.Category{
  width:95%;
  margin:calcLen(5);
  padding:calcLen(5);
  background-color: #f0f0f1;
  height:calcLen(275);
  font-size:calcFont(12);
}