@import '../../../../../assets/css/desktop/variables';

.UserPic{
    display:flex;
    flex-direction:row;
}
.PicUser{
    width:70%;
}
.PicUser svg{
    width:calcLen(35);
    height:calcLen(35);
}
.See{
    color:deepskyblue;
    font-size:calcFont(10);
}
.UserName{
    padding-right:calcLen(10);
}
.LoginBag{
    display: flex;
}
.Cart span{
   font-size: calcFont(20);
}
.NotLogin
{
    outline: solid calcLen(1);
    border-radius: calcLen(10);
    border-color: #decfcf;
    margin-top: calcLen(20);
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: stretch;
    align-content: space-around;
    padding: calcLen(8);
    margin-left: calcLen(10);
}
.Login
 {

     margin-top: calcLen(20);
     display: flex;
     flex-wrap: wrap;
     justify-content:flex-start;
     align-items: stretch;
     align-content: space-around;
     //padding: calcLen(8);
     margin-left: calcLen(10);
 }
.MyOrders i{
    font-size:calcFont(25);
    padding-right:calcLen(12);
}
.Exit i{
    font-size:calcFont(20);
    padding-right:calcLen(3);
}
.Cart{
    margin-top: calcLen(20);
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: stretch;
    align-content: space-around;
    padding-right: calcLen(6);
    padding-left: calcLen(6);
    margin-left: calcLen(15);
    color:black;
}
.Cart a{
    text-decoration:none;
    text-underline:none;

}
.Cart span:hover{
    text-decoration:none;
}

.Cart span{
    color:black;
}
.CountNumber{
    background-color:red;
    color:white;
    border-radius:calcLen(50);
    justify-content:center;
    align-items:center;
    display:inline-flex;
    width:calcLen(18);
    height:calcLen(18);
    font-size:calcFont(10);
}