@import '../../../../../../assets/css/mobile/variables';


.footerContainer{
    display:flex;
    width: 90%;
}
.inputEmail{
    background-color:#f8f4f4;
    border-radius:calcLen(10);
    border:none;
    color:darkgray;
    height:calcLen(50);
    margin-left:calcLen(15);
    width:55%;
    font-size:calcFont(11);
}
.inputButton{
    background-color:#f8f4f4;
    border-radius:10%;
    border:none;
    color:white;
    width:18%;
    margin-right:calcLen(15);
}
.Nav{
    display:flex;
    align-items:center;
}
.footerContainer ul{
    font-size:calcFont(12)!important;
    padding:0;
}
.EmailInput{
   padding-top:calcLen(20);
    padding-left:calcLen(20);
    display:flex;
}