@import '../../../../../../assets/css/mobile/variables';

.Titr{
    font-size: calcLen(14);

}
.footerContainer li a{
    font-size: .857rem;
    line-height: calcLen(35);
    color: #81858b;
    text-underline:none;
    text-decoration:none;

}

.footerContainer li {
    list-style-type: none;
}
.footerContainer{
    display:flex;
    width: 100%;
}
.inputEmail{
    background-color:#f8f4f4;
    border-radius:calcLen(10);
    border:none;
    color:darkgray;
    height:calcLen(50);
    margin-left:calcLen(5);
    width:80%;
    font-size:calcFont(13);
    padding-right:calcLen(5);

}
.inputButton{
    background-color:#f8f4f4;
    border-radius:10%;
    border:none;
    color:white;
    width:18%;
    margin-right:calcLen(5);
}
.Nav{
    display:flex;
    align-items:center;
}
.footerContainer ul{
    font-size:calcFont(12)!important;
    padding:0;
}
.EmailInput{
   padding-top:calcLen(20);
    //padding-left:calcLen(20);
    display:flex;
}