
@import '../../../../../../assets/css/desktop/variables';


.NavigationItems {
  padding: 0;
  list-style: none;

  align-items: center;
  height: 30%;
}

.NavigationItems span{
  padding-right:calcLen(10);
}
