@import '../../../../../assets/css/mobile/variables';


.Card
{
  display:flex;
  flex-direction:column;
  background-color:white;
  width:100%;
  border-radius:calcLen(10);
  margin:auto;
  height:calcLen(250);
  padding:calcLen(10);
}
.ProductImage{
  width:75%;
  display:flex;
  justify-content:center;
}
.ProductDescription{
  font-size:calcFont(10);
  color:#4a5f73;
  margin-top:calcLen(15);
}
.DigiPay{
 margin-top:calcLen(15);
  font-size:calcFont(8);
  color:#636d7a;
}
.OffPrice{
  display:flex;
  flex-direction:row-reverse;
  margin-top:calcLen(15);
}
.OffPercent{
  background-color:red;
  border-radius:calcLen(20);
  width:calcLen(40);
  heigth:calcLen(20);
  justify-content:center;
  align-content:center;
  margin-top:auto;
  margin-bottom:auto;
  font-size:calcFont(10);
  display:flex;
color:white;
}
.OffPri{
  font-size:calcFont(8);
  margin-left:calcLen(10);
}
.FinalPrice{
  text-align:left;
  font-size:calcFont(11);
  margin-top:calcLen(5);
}