@import '../../../../../assets/css/mobile/variables';

.Title  span{
  font-size:calcFont(14);
}
.DesEnglish{
  font-size:calcFont(12);
  color:darkgray;
}
.ProductPic{
  width:calcLen(170);
  margin:auto;

}
.ProductPic img{
  width:100%;
  margin-top:calcLen(15);
  display:flex;
  justify-content:center;
  align-items:center;

}

.Like{
  font-size:calcFont(11);
  display:flex;
  margin-top:calcLen(10);
}
.LikeFont{
  color:#4caf50;
  margin-left:calcLen(5);
  font-size:calcFont(14);
  margin-top:calcLen(-2);
  margin-right:calcLen(10);
}