@import '../../../../../../assets/css/mobile/variables';


.Search{
    background-color: #ebebeb;
    border-radius: calcLen(10);
    display: flex;
    flex-direction: row;
    height: calcLen(50);
    width:100%;
    align-items: center;
    justify-content: center;
    padding-right: calcLen(8);

}
.Search input{
    border: none;
    background-color: transparent;
    outline: none;
    //margin-top: calcLen(35);
}

//.Search div{
//    margin-top: calcLen(35);
//}
