@import '../../../../../assets/css/desktop/variables';


.downloadApp{
  display: flex;
  height: calcLen(75);
  width: 98%;
  background-color: #3c4b6d;
  border-radius: calcLen(10);
  align-items: center;
  padding-left: calcLen(10);
}
.App{
  margin-left: calcLen(10);
}
.Smile{
  width:calcLen(40);
  margin-right: calcLen(14);
  border-radius: calcLen(10);
}
.DownLoad{
 margin-right:calcLen(10);
  color:white  ;
  font-size:calcFont(16);
}