@import '../../../../../assets/css/desktop/variables';


.Search{
    background-color: #f0f0f1;
    border-radius: calcLen(10);
    display: flex;
    justify-content:flex-start;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    height: calcLen(45);
    margin-top: calcLen(25);
    margin-right: calcLen(10);
    width:100%;
    padding-right: calcLen(8);
    //padding-top: calcLen(20);

}
.Search input{
    border: none;
    background-color: transparent;
    outline: none;
    color:#474747;
    font-size:calcFont(12);
}

