@import '../../../../../assets/css/desktop/variables';


.Search{
    background-color: #faf5f5;
    border-radius: calcLen(10);
    display: flex;
    justify-content:flex-start;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    height: calcLen(35);
    margin-top: calcLen(30);
    margin-right: calcLen(10);
    width:100%;
    padding: calcLen(6);

}
.Search input{
    border: none;
    background-color: #faf5f5;
    outline: none;
}
