@import '../../../../assets/css/desktop/variables';


.dataProduct{
  display:flex;

}
.Detail{
display:flex;
  flex-direction:column;
  width:70%;
  padding:calcLen(15);
}
.picGallery{
direction:ltr;
  width:30%;
  display:flex;
}
.Suggestion{
  border-radius:calcLen(15);
  border: calcLen(1) solid #bfbbbb;
margin:calcLen(10);
  padding:calcLen(5);
}

.Image{
  margin-top:calcLen(45);
}

.Namad i{
 font-size:calcFont(20);
  margin-bottom:calcLen(15);
}