@import '../../../../../../assets/css/mobile/variables';
.BuyNotify{
  margin-right:calcLen(25);
  padding:calcLen(15);
}

.Buy{
  display:flex;
  flex-direction:column;
  background-color: #fdfcfc;
  border-radius:calcLen(5);
  border:calcLen(1) solid #d4d0d0;
  padding-bottom:calcLen(25);
  padding-right:calcLen(25);
  padding-top:calcLen(25);
  font-size:calcFont(11);
}
.Buy button{
  margin-top:calcLen(15);
}
.BuyNotify p{
  margin-top:calcLen(5);
  font-size:calcFont(11);
color:gray;
}

.BuyNotify Button{
  width:100%;
  background-color:#ef394e;
  color:white;
}


.Send{
  display:flex;
  border: calcLen(1) solid #d4d1d1;
  border-radius:calcLen(10);
  font-size:calcFont(12);
  padding-right:calcLen(5);
  padding-top:calcLen(5);
  width:100%;

}
.Send span{
  font-size:calcFont(11);
}
.Send img{
  width:85%;

}
.Image{
  padding-top:calcLen(15);
  width:55%;
}