@import '../../../../../../assets/css/desktop/variables';
.images{
  //width: 500px;
  border-radius: 20px;
  width: 320px;
  height: 50%;
//width: calcLen(500);
//border-radius: calcLen(20);
}
.sliderLeft
{
  margin-top: 20px;
  display: flex;
  flex-direction:column ;
}