@import '../../../../assets/css/mobile/variables';


.Cart{
  background-color: #f6f6f6;
  display:flex;
  flex-direction:column;
}
.CartContainers{
  width:100%;
  //margin:calcLen(5);
}
.CartBuy{
  width:95%;
  background-color: #f6f6f6;
}