@import '../../../../../assets/css/desktop/variables';


.Card
{
  display:flex;
  flex-direction:column;
  background-color:white;
  width:100%;
  border-radius:calcLen(10);
  margin:auto;
  height:calcLen(300);
  padding:calcLen(10);
}
.Card img{
  width: 75%;
  display: flex;
  justify-content:center;
  margin-right: auto;
  margin-left: auto;
}
.Card a{
  text-decoration:none;
  text-underline:none;
}
.ProductImage{
  width:80%;
  display:flex;
  justify-content:center;

}
.ProductDescription{
  font-size:calcFont(12);
  color:#535353;
  margin-top:calcLen(15);
  min-height:calcLen(35);
}
.Card:hover{
  border:calcLen(2) solid #d3d3d6;
}

.Price{
  text-align:left;
  margin-top:calcLen(10);
  color:black;

}