@import '../../../../../assets/css/mobile/variables';



.Description{
  display:flex;
  flex-direction:column;
  background-color:white;
  border-radius:calcLen(5);
  padding:calcLen(10);
  margin:calcLen(10);
  font-size:calcFont(10);
}
.Description li{
  color:#858585;
  font-size:calcLen(14);
  line-height: 1.571;
}
.DescriptionTitle{
color:#81858b;
  margin-bottom:calcLen(10);
  font-size:calcFont(14);
}
.PNGLogo{
  display: flex;
  margin-top: calcLen(15);
  justify-content: center;
}
.PNGLogo div{
  width:calcLen(200);
}
.PNGLogo img{
  width:40%;
}