@import '../../../../../assets/css/mobile/variables';


.Commercial{
  display:flex;
  justify-content:space-around;
  padding-top:calcLen(10);
  padding-bottom:calcLen(10);
}
.comImage{
  border-radius:calcLen(20);
  width:45%;
}