@import '../../../../../../assets/css/desktop/variables';

.Title{
  font-size:calcFont(16);
}
.Dot{
  height: calcLen(17);
  width: calcLen(17);
  border-radius: 50%;
  display: inline-block;
  margin-left:calcLen(3);
  margin-top:calcLen(5);
  border: calcLen(3) solid #fff;
  margin-right:calcLen(8);
}
.Color{
  font-size:calcFont(12);
color: #62666d;
}
.Guarantee{
    margin-right:calcLen(10);
  color:#62666d;
  margin-top:calcLen(6);
}
.Guarantee span{
  margin-right:calcLen(3);
  font-size:calcFont(12);
}
.Seller{
  margin-right:calcLen(8);
  color:#62666d;
  margin-top:calcLen(6);
}
.Seller img{
  width:10%;
}
.Seller span{
  margin-right:calcLen(5);
  font-size:calcFont(12);
}
.Stock{
  margin-right:calcLen(8);
  color:#62666d;
  margin-top:calcLen(6);
}
.Stock span{
  margin-right:calcLen(5);
  font-size:calcFont(12);
}
.numberOrder{
  display:flex;
  //flex-direction:row;
  margin-top:calcLen(15);
  padding-top: calcLen(5);
  font-size: calcFont(15);
  border:calcLen(1) solid  darkgray;
  border-radius: 8%;
  height:55%;
width:15%;

}
.incrbtn i{
  color: #e0e0e2;
  background-color: transparent;
  border: none;

  //margin-left: calcLen(10);
  //padding-right:calcLen(10);
}
.numorder input{
  display:flex;
  justify-content:center;
  justify-items:center;
  padding-right:calcLen(15);
  //margin-left: calcLen(10);
  //padding-left:calcLen(0);
  //padding-right:calcLen(14);

}
.decrbtn i{
  background-color: transparent;
  color: #e0e0e2;
  border: none;
//margin-right:0;
}
.numberOrder,.incrbtn,.decrbtn,.numorder{
  //width: 20%;
}
.formControl{
  //width:20%;
  color:#0fabc6;
}
.NumberDelPrice{
  display:flex;

}
.Del{
  display:flex;
  margin-top:calcLen(15);
  margin-right:calcLen(15);
  padding-top: calcLen(5);
  cursor:pointer;
  color: #777;
}
.Del span{
  margin-right:calcLen(5);
  font-size: calcFont(13);

}
.Price{
  margin-right:auto;
  margin-top:calcLen(15);
  padding-top: calcLen(5);
  font-size:calcFont(17);
  line-height: 1.294;
}