@import '../../../../../assets/css/mobile/variables';


.TopBar{
    display: flex;
    margin-top:calcLen(30);
    justify-content:space-around;
  //margin-left:3%;
  //margin-right:3%;
}
.Question{
   font-size:calcFont(10);
  margin-top:calcLen(6);
}