@import '../../../../../assets/css/desktop/variables';



.Description{
  display:flex;
  flex-direction:row;
  margin-top:calcLen(12);
}
.PNGLogo{
  display: flex;
  margin-top: calcLen(15);
  justify-content: center;
}
.PNGLogo div{
  width:calcLen(200);
}
.PNGLogo img{
  width:40%;
}