@import '../../../../../assets/css/mobile/variables';

.CartContainers{
  display:flex;
  background-color: #fdfcfc;
  border-radius:calcLen(5);
  border:calcLen(1) solid #d4d0d0;
  margin-top:calcLen(25);
  margin-right:calcLen(8);
  //margin-left:calcLen(8);
  padding:calcLen(10);
}
.detailBuy{
  display:flex;
  flex-direction:column;
  width:70%;
  margin-left:calcLen(5);
}
.CartContainers img{
  width:100%;
}
.Image{
  width:30%;
}

.Del{
  display:flex;
  margin-top:calcLen(15);
  margin-right:calcLen(15);
  padding-top: calcLen(5);
  cursor:pointer;

}
.Del span{
  margin-right:calcLen(5);
  font-size: calcFont(13);
}
