@import '../../../../../assets/css/desktop/variables';

.Titr{
  font-size:calcFont(14);
}
.Buy{
  background-color:#f5f5f5;
  border:calcLen(1) solid #cfcdcd;
  border-radius:calcLen(5);
  display:flex;
  flex-direction:column;
padding:calcLen(12);
//padding-left:calcLen(12);
}
.Contentment{
 display:flex;
  margin-top:calcLen(17);
}
.Contentment img{
  width:100%;
  padding:calcLen(5);
}
.ContentmentPercent{
 display:flex;
  flex-direction:column;
  width:90%;
}
.Guarantee{
  padding-left:calcLen(13);
}
.CountView{
 font-size:calcFont(24);
  color:#a1a3a8;
}
.CountView i{
  font-size:calcFont(16);
}
.View{
  font-size:calcFont(12);
  color:#a1a3a8;
margin-right:calcLen(15);
}
.Stock{

  padding-left:calcLen(13);
}
.digikala{
  font-size:calcFont(13);
}
.Rezayat{
  font-size:calcFont(10);
  margin-top:calcLen(8);
}
.Price{
  font-size:calcFont(24);
  text-align:left;
}
.SendDigi{
  color:lightslategray;
  font-size:calcFont(12);
  margin-right:calcLen(10);
}
.EgtheenMonth{
  margin-right:calcLen(10);
}
.btnBuy{
  width:95%;
  background-color:#ef394e;
  color:white;
  //height:calcLen(30);
}

.Currency p{
  font-size:calcFont(12);
  color:#b4b4b4;
}
