@import '../../../../../../assets/css/mobile/variables';


.LoginBag{
    display: flex;
}

.LoginBag a{
    text-underline:none;
    text-decoration: none;
    color:black;
}

.Login
{
    border-color: #decfcf;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: stretch;
    align-content: space-around;
    padding: calcLen(8);
    //margin-left: calcLen(10);
}
.Cart{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: stretch;
    align-content: space-around;
    padding-right: calcLen(6);
    padding-left: calcLen(6);
    margin-left: calcLen(15);
}
.Cart span{
   font-size: calcLen(20);
}
.Cart Link{
    text-decoration:none;
}
.NotLogin {
    font-size:calcFont(12.5);
    display:flex;
    margin-top:calcLen(11);
margin-right:calcLen(12);
margin-left:calcLen(12);
}
.LoginSymbol{
    margin-top:calcLen(5);
}
.NotLogin i{
    transform:rotate(180deg);
    margin-left:calcLen(2);
}
.CountNumber{
    display:flex;
    color:black;
    text-decoration:none;

}
.OrderCount{
    background-color: red;
    border-radius: 50%;
    width: calcLen(15);
    height: calcLen(15);
    font-size:calcFont(10);
    text-align: center;
    align-items: center;
    color: white;
}
