.incredibleSec{
  background-color: #6bb927;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  height: 350px;
}
.Image{
  width: 50%;
  display: inline;
  align-items: center;
margin-top: 15px;
  margin-right: 30px;
}