@import '../../../../assets/css/desktop/variables';


.Footer{
    font-size: calcFont(16) !important;
    margin-top:calcLen(20);
    padding-top:calcLen(20);
    padding-right:calcLen(20);
    background-color:#fff;
}
.PrLogo{
margin-top: calcLen(20);
}
.PrLogo img{
    width:calcLen(120);
}

.About{
    display: flex;
    margin-top: calcLen(20);
font-size:calcLen(12);
}
.Backup{
    margin-right:calcLen(10);
}
.VeticalLine{
    margin-right:calcLen(10);
    margin-left:calcLen(10);
}
.PNGLogo{
    display: flex;
    margin-top: calcLen(30);
    justify-content: center;
}
.PNGLogo div{
    width:calcLen(200);
}
.newColumnMenu{
    display: flex;
}

.SpecialServices{
    width:100%;
    margin:0;



}