@import '../../../../../assets/css/desktop/variables';


.NavigationItems {
    //margin-top: calcLen(10);
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35%;
}

@media (min-width: calcLen(500)) {
    .NavigationItems {
        flex-flow: row;
    }
}