@import '../../../../../../assets/css/desktop/variables';


.NavigationItem {
    margin: calcLen(10) 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: calcFont(8);
}
@media (min-width: calcLen(850)) {
    .NavigationItems a {
        font-size: calcFont(8);
    }
}

.NavigationItem a {
    color: #616161;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active {

}

@media (min-width: calcLen(500)) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .NavigationItem a {
        height: 100%;
        padding: calcLen(16) calcLen(10);
        border-bottom:calcLen(4) solid transparent;
    }
    .NavigationItem a:hover, .NavigationItem a:active{
        border-bottom:calcLen(2) solid #ec0606;
    }
}