@import '../../../../../../assets/css/mobile/variables';

.Title{
  font-size:calcFont(14);
  color:black;
}
.Dot{
  height: calcLen(17);
  width: calcLen(17);
  border-radius: 50%;
  display: inline-block;
  margin-left:calcLen(3);
  margin-top:calcLen(5);
  border: calcLen(3) solid #fff;
  margin-right:calcLen(8);
}
.Color{
  font-size:calcFont(11);
color: #737272;
}
.Guarantee{
    margin-right:calcLen(10);
  color:#737272;
}
.Guarantee span{
  margin-right:calcLen(3);
  font-size:calcFont(11);
}
.Seller{
  margin-right:calcLen(8);
  color:#737272;
}
.Seller img{
  width:calcLen(15);
}
.Seller span{
  margin-right:calcLen(5);
  font-size:calcFont(11);
}
.Stock{
  margin-right:calcLen(8);
  color:#737272;
}
.Stock span{
  margin-right:calcLen(5);
  font-size:calcFont(10);
}
.numberOrder{
  display:flex;
  margin-top:calcLen(15);
  justify-content: center;
  align-items: center;
  //padding-top: calcLen(5);
  //padding-right: calcLen(15);
  font-size: calcFont(15);
  border:calcLen(1) solid  darkgray;
  border-radius: 5%;

}
.incrbtn{
  color: #b1b4ff;
  background-color: transparent;
  border: none;
}
.numorder{
  padding-left:calcLen(0);
}
.numberOrder input{
 width: 100%;
  font-size: calcLen(14);
  background-color: transparent;
  border: none;

}
.decrbtn{
  background-color: transparent;
  color: #b1b4ff;
  border: none;

}
.numberOrder,.incrbtn,.decrbtn,.numorder{
  width: 40%;
}
.formControl{
  width:20%;
}
.NumberDelPrice{
  display:flex;

}

.Price{
  margin-right:auto;
  margin-top:calcLen(12);
  padding-top: calcLen(5);
  font-size:calcFont(10);
}