@import '../../../../../../assets/css/mobile/variables';

.Title{
  font-size:calcFont(9);
  color:black;
}
.Dot{
  height: calcLen(17);
  width: calcLen(17);
  border-radius: 50%;
  display: inline-block;
  margin-left:calcLen(3);
  margin-top:calcLen(5);
  border: calcLen(3) solid #fff;
  margin-right:calcLen(8);
}
.Color{
  font-size:calcFont(8);
color: #737272;
}
.Guarantee{
    margin-right:calcLen(10);
  color:#737272;
  //margin-top:calcLen(6);
}
.Guarantee span{
  margin-right:calcLen(3);
  font-size:calcFont(8);
}
.Seller{
  margin-right:calcLen(8);
  color:#737272;
  //margin-top:calcLen(6);
}
.Seller img{
  width:calcLen(15);
}
.Seller span{
  margin-right:calcLen(5);
  font-size:calcFont(8);
}
.Stock{
  margin-right:calcLen(8);
  color:#737272;
  //margin-top:calcLen(6);
}
.Stock span{
  margin-right:calcLen(5);
  font-size:calcFont(8);
}
.numberOrder{
  display:flex;
  margin-top:calcLen(15);
  padding-top: calcLen(5);
  padding-right: calcLen(15);
  font-size: calcFont(15);
  border:calcLen(1) solid  darkgray;
  border-radius: 5%;

}
.incrbtn{
  color: #b1b4ff;
  background-color: transparent;
  border: none;

}
.numorder{
width:15%;
}
.decrbtn{
  background-color: transparent;
  color: #b1b4ff;
  border: none;

}
.numberOrder,.incrbtn,.decrbtn,.numorder{
  width: 20%;
}
.formControl{
  width:20%;
}
.NumberDelPrice{
  display:flex;

}
.Del{
  display:flex;
  margin-top:calcLen(15);
  margin-right:calcLen(15);
  padding-top: calcLen(5);

}
.Del span{
  margin-right:calcLen(5);
  font-size: calcFont(11);
}
.Price{
  margin-right:auto;
  margin-top:calcLen(12);
  padding-top: calcLen(5);
  font-size:calcFont(10);
}