@import '../../../../../assets/css/mobile/variables';


.Card
{
  display:flex;
  flex-direction:column;
  background-color:white;
  width:100%;
  border-radius:calcLen(10);
  margin:auto;
  height:calcLen(220);
  padding:calcLen(5);
}
.Card a{
  text-decoration:none;
  text-underline:none;
}
.ProductImage{
  width:75%;
  display:flex;
  justify-content:center;
  margin-right:calcLen(15);
}
.ProductDescription{
  font-size:calcFont(11);
  color:#4a5f73;
  margin-top:calcLen(15);
  min-height:calcLen(65);
}
.Card:hover{
  border:calcLen(2) solid #d3d3d6;
}
.Price{
 text-align:left;
  margin-top:calcLen(10);
  font-size:calcFont(10);
}