@import '../../../../../assets/css/mobile/variables';


.Cart{
  display:flex;
  flex-direction:column;
  background-color:#f9f9f9;
}
.CartBuy{
  width:95%;
  margin:calcLen(10);
  border:calcLen(1) solid darkgray;
  border-radius:calcLen(5);
  padding:calcLen(10);
}
