@import '../../../../../assets/css/desktop/variables';


.NavigationItems {
  margin-top: calcLen(10);
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

@media (min-width: calcLen(500)) {
  .NavigationItems {
    flex-flow: row;
  }
}

