body
{
  font-family: IRANSans !important;
  direction: rtl;
}

@font-face {
  font-family: IRANSans;
  src: url("../../assets/fonts/eot/IRANSansWeb(FaNum).eot");
  url("../../assete/fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype"),
  url("../../assete/fonts/woff/IRANSansWeb(FaNum).woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
