@import '../../../../src/assets/css/desktop/variables';

.ContainerHome{
  display: flex;
  //padding-right: calcLen(15);
  //padding-left: calcLen(15);
  //margin-top: calcLen(15);
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  height: 100%;

}