@import '../../../../assets/css/mobile/variables';

.LogoUp{
    display:flex;
}
.UpButton{
   margin-top:calcLen(20);
    margin-right:auto;
    background-color:transparent;
}
.UpButton button{
    background-color:transparent;
    font-size:calcFont(14);
    border:solid calcLen(1) darkgray;
    border-radius:calcLen(5);
    height:calcLen(25);

}
.Footer{
    font-size: calcFont(16) !important;
    padding-right:calcLen(20);
    background-color:#fff;
    display:flex;
    flex-direction:column;
}
.PrLogo{
margin-top: calcLen(20);

}
.PrLogo img{
    width:calcLen(91);
    height:calcLen(24);
}
.About{
    display: flex;
    margin-top: calcLen(5);
font-size:calcFont(12);
}
.Alldays{
    font-size:calcFont(12);
}
.PNGLogo{
    display: flex;
    margin-top: calcLen(30);
    justify-content: center;
}
.PNGLogo div{
    width:calcLen(200);
}
.newColumnMenu{
    margin-top:calcLen(10);
}
.Symbols{
    display: flex;
    margin-top: calcLen(5);
    font-size:calcFont(10);
}
.SpecialServices{
    width:100%;
    margin-right:0;
    margin-left:0;
    margin-top:calcLen(50);
}