@import '../../../../../assets/css/mobile/variables';


.Header{
    background-color: #ffffff;
    width: 100%;
    margin-top: calcLen(-20);
}
.Toolbar nav{
    display: flex;
    //margin-top: calcLen(18);
}
.Line{
    margin-top:calcLen(0);
    width:95%;
    margin-left:auto;
    margin-right:auto;
    color:#515151;
    margin-bottom:calcLen(5);
}
