@import '../../../../../assets/css/mobile/variables';


.Symbols{
    display: flex;
    flex-direction:column;
    margin-top: calcLen(25);
    margin-left: calcLen(20);
}
.PicSymbols{
    display: flex;
    order: 1;
    justify-content: center;
    padding-right:calcLen(10);
}
.Comment{
    color: #928888;

}
.Comment h3{
   color:black;
    font-size:calcFont(15);
}
.Comment p{
    color:black;
    font-size:calcFont(10);
}
.Picture{
    vertical-align: middle;
    display: block;
    margin-top: calcLen(10);
}
.PicDiv{
    border-radius: calcLen(10);
}