@import '../../../../../assets/css/mobile/variables';


.downloadApp{
  display: flex;
  flex-direction:column;
  width: 98%;
  padding-top: calcLen(10);
}
.App{
  margin-top:calcLen(10);
}

.Smile{
  width:calcLen(40);
  border-radius: calcLen(10);
}
.DownLoad{
  font-size:calcFont(16);
}
.DownlaodLogo{
  display:flex;
  margin-top:calcLen(10);
  flex-direction:column;
}