.Card
{
  display:flex;
  flex-direction:column;
  background-color:white;
  width:100%;
  //margin-left:10px;
  border-radius:10px;
  margin:auto;
  height:400px;
  padding:10px;
}
.ProductImage{
  width:80%;
  display:flex;
  justify-content:center;
  //height:200px;
}
.ProductDescription{
  font-size:14px;
  color:#4a5f73;
  margin-top:15px;
}
.DigiPay{
 margin-top:15px;
  font-size:12px;
  color:#636d7a;
}
.OffPrice{
  display:flex;
  flex-direction:row-reverse;
  margin-top:35px;
}
.OffPercent{
  background-color:red;
  border-radius:20px;
  width:40px;
  heigth:20px;
  justify-content:center;
  align-content:center;
  margin-top:auto;
  margin-bottom:auto;
  font-size:14px;
  display:flex;
color:white;
}