@import '../../../../../assets/css/mobile/variables';


.NavigationFooterItem{
    list-style-type: none;
display: flex;
    align-items: end;
    padding: calcLen(5);
    font-size:calcFont(10)!important;
}
