@import '../../../../../assets/css/desktop/variables';


.IncredibleSection{
  background-color: #b92738;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  height: calcLen(450);
}
.Image{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calcLen(15);
  margin-right: calcLen(30);
}