@import '../../../../../assets/css/mobile/variables';


.IncredibleSection section{
  background-color: #ef394e;
  width: 100%;
  margin: 0;
  padding:0;
  display:flex;
  height: calcLen(240);
}
.Image{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calcLen(45);
  margin-right: calcLen(30);
}